@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Work+Sans:wght@100;400;600;700&display=swap');
html {
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #98d6ea;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}


header h1{
    font-size: 22px;
    color: #98d6ea;
}

ul{
    display: flex;
    position: relative;
    left: 5px;
    font-size: 18px;
}

li{
    list-style: none;
    margin-left: 30px;
}

li a{
    text-decoration: none;
    color: #393D3F;
}

.hamburger{
    display: none;
    
}

.bar{
    display: block;
    width: 27px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #98d6ea;
}

#satu, #tiga{
    width: 15px;
}

.menu-list li:hover{
    text-decoration: underline 3px #98d6ea;
    transition: 0.5s;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.filter button:hover, #utama:hover{
    background-color:white;
    color: #98d6ea;
}

.filter button{
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-size: 0.8rem;
    margin: 5px;
    border-radius: 10px;
    background-color:#393D3F;
    color: #FDFDFF;
}



.galeri-img{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}


img{
    width: 200px;
    border-radius: 10px;
}

p{
    margin: 3px;
}

.card{
    background-color: white;
    border-radius: 20px;
    height: 300px;
    margin-top: 30px;
    margin: 6px;
    padding: 10px;
    box-shadow: 10px 10px 26px -5px rgba(0,0,0,0.27);
}

.filter-btn.active {
    background-color:white;
    color: #98d6ea;
}



/* Konten Footer */
footer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    text-align: center;
    color: #393D3F;
    background-color: white;
    margin: 0;
}

footer h1{
    font-size: 20px;
    color: #98d6ea;
    
}

footer a{
    color: #393D3F;
    text-decoration: none;
}

.copyright{
    font-size: 20px;
    font-weight: lighter;
}

.social-media{
    font-size: 22px;
}

.fa-heart{
    color: red;
}

.fa-dribbble:hover{
    color: pink;
    transition: 0.3s;
}